div,p,input,textarea,ul,li,ol,dl,dt,dd,form,h1,
h2,h3,h4,h5,h6,hr,body{margin:0px;padding:0;list-style:none;}
b,em,strong,i{font-weight:normal;font-style:normal;}
img{border:0;margin:0px;padding:0;}
a{text-decoration:none;float:left;}